<div class="my-6 flex flex-col gap-4 justify-center items-center w-full">
  <h1 class="text-2xl font-bold">New tweet</h1>

  <%= render "form", tweet: @tweet %>

  <br>

  <div>
    <%= link_to "Back to tweets", tweets_path, class: "text-blue-500 underline" %>
  </div>
</div>
